  body {
            background-color: #f4f6f9;
        }

        .container {
            margin-top: 20px;
            padding: 20px;
        }

        h1 {
            font-size: 2.5em;
            color: #333;
            margin-bottom: 20px;
        }

        .stat-title {
            font-size: 1.2em;
            color: #666;
        }

        .stat-value {
            font-size: 2em;
            color: #007bff;
        }

        .chart-container {
            margin-top: 30px;
        }

        .section-title {
            margin-top: 40px;
            font-size: 1.8em;
            color: #007bff;
        }

        .title {
           margin-left: 2rem;
        }

        #section-title {
           margin-left: 5rem; 
        }

        .body-container {
           margin-left: 7rem;
        }

        .card {
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border: none;
            border-radius: 10px;
        }

        .card-header {
            font-weight: bold;
            font-size: 1.2em;
            background-color: #007bff;
            color: white;
            padding: 10px;
            border-radius: 10px 10px 0 0;
        }

        .card-body {
            padding: 20px;
        }

        .progress {
            height: 20px;
        }

        .progress-bar {
            background-color: #28a745;
        }

        .progress-label {
            margin-top: 10px;
            font-size: 0.9em;
            color: #666;
        }

        .action-btns {
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
        }

        .btn-info {
            background-color: #17a2b8;
            border: none;
        }

        .btn-info:hover {
            background-color: #138496;
        }

        .btn-danger:hover {
            background-color: #c82333;
        }

        .statistics-table {
            margin-top: 20px;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .statistics-table table {
            width: 100%;
            text-align: left;
            margin-top: 10px;
            color: #333;
            border-collapse: collapse;
        }

        .statistics-table th, .statistics-table td {
            padding: 15px;
            border-bottom: 1px solid #ddd;
        }

        .statistics-table th {
            background-color: #007bff;
            color: white;
            font-weight: bold;
        }

        .statistics-table td {
            color: #666;
        }